:root {
  --primary: #47acff;
  --secondary: #06417ce3;
  --thirth: #032a50e7;
  --dark-back: #06417cf3;
  --card-back: #06407ab9;
  --ovelay-back: #052d559c;
  --transparent: #3b3b3b00;
  --background-body: #000000;
  --text-header-color: white;
  --text-body-color: white;
  --text-header-contrast-color: black;
  --text-body-contras-color: black;
  --theme: #06335f;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
  color: var(--text-body-color);
}
h1, h2, h3 {
  color: var(--text-header-color);
}
.MuiBottomNavigationAction-root {
  color: var(--primary) !important;
}

.MuiSvgIcon-root.social, 
.Mui-selected{
  color: var(--secondary) !important;
}

.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}

#Career, #education {
  color: var(--primary);
  font-size: 2.2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
