@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
  --primary: #ACD7F2;
  --secondary: #80A7BF;
  --thirth: #BF834E;
  --dark-back: #06417cf3;
  --card-back: #06407ab9;
  --ovelay-back: #052d559c;
  --transparent: #3b3b3b00;
  --background-body: #3E4C59;
  --text-header-color: white;
  --text-body-color: black;
  --text-header-contrast-color: black;
  --text-body-contras-color: black;
  --theme: #06335f;

  --icon-react: #00aeff;
  --icon-js: yellow;
  --icon-js-shadow: #838383;
  --icon-fastapi: #009485;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
  color: var(--text-body-color);
}
h1, h2, h3 {
  color: var(--text-header-color);
  font-family: 'Tilt Neon', sans-serif;
}

.react-div{
  background-color: var(--card-back);
  width: 95px;
  height: 105px;
}

.iconReact{
  color: var(--icon-react);
  animation: spin 75s linear infinite;
  background-color: var(--transparent);
}

.iconJS{
  color: yellow;
  border-radius: 25px;
}

.iconPy{
  color: gold;
  background-color: var(--theme);
}

.iconFacebook {
  color: white;
  font-size: 75px;
  padding: 10px 10px; 
  background-color: var(--theme); 
}

.iconInstagram {
  color: white;
  background: pink;
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}

.iconGitHub {
  color: white;
  background-color: black;
}

.iconFirebase {
  background-color: orange;
}

.iconHtml {
  background-color: orange;
}

.iconCss {
  background-color: var(--theme);
}

.iconBYU {
  background-color: var(--theme);
}

.iconThreejs{
  background-color: white;
  color: black;
}

.iconFastapi{
  color: var(--icon-fastapi);
}

.iconNodejs {
  background-color: white;
}

.iconDocker {
  color: var(--icon-react);
}

.button{
  border-radius: 15px;
  transform: translateX(8px) translateY(-8px);
  box-shadow: -3px 3px var(--icon-js-shadow), -4px 4px var(--icon-js-shadow), -5px 5px var(--icon-js-shadow), -6px 6px var(--icon-js-shadow);
  &:hover{
      animation: shadow-pop-bl 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
}

@keyframes bounce-spin {
  100%{ transform: translateY(20px) rotate(0deg);}
  50%{ transform: translate(0px) rotate(180deg); }
  0%{ transform: translateY(20px) rotate(360deg);}
}

@keyframes bounce-backspin {
  100%{ transform: translateY(20px) rotate(360deg);}
  50%{ transform: translate(0px) rotate(180deg); }
  0%{ transform: translateY(20px) rotate(0deg);}
}

@keyframes bounce {
  100%{ transform: translateY(20px);}
  50%{ transform: translate(0px); }
  0%{ transform: translateY(20px);}
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


@keyframes spinback {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}


@keyframes shadow-pop-bl {
  100% {
    -webkit-box-shadow: 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow);
            box-shadow: 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow), 0 0 var(--icon-js-shadow);
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  0%{
    -webkit-box-shadow: -3px 3px var(--icon-js-shadow), -4px 4px var(--icon-js-shadow), -5px 5px var(--icon-js-shadow), -6px 6px var(--icon-js-shadow);
            box-shadow: -3px 3px var(--icon-js-shadow), -4px 4px var(--icon-js-shadow), -5px 5px var(--icon-js-shadow), -6px 6px var(--icon-js-shadow);
    -webkit-transform: translateX(8px) translateY(-8px);
            transform: translateX(8px) translateY(-8px);
  }
}